[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
retry = "*"
sqlalchemy = "*"
pgvector = "*"
psycopg2 = "*"
fastapi = "*"
uvicorn = "*"
cd = "*"

[dev-packages]

[requires]
python_version = "3.11"
